:root{
    /* Color */
    --white-color : #f8f8f8;
    --white-bg-color: #FEFEFE;
    --orange-color : #F6BB43;
    --black-color : #181816;
    --black-light-color : #42423b;
    --gery-color : #C0C0C0;
    --gery-dark-color : #696969;
    --red-color : #9CB348;

    /* #A88B5B */
    /* #C3FCF2 */
    /* #B5AA99 */
    /* #9CB348 */
    /* #4D9F64 */
    /* #008476 */
    /* #0A6673 */

    /* size */
    --padding: 12px;
    --margin: 200px;
    --max-size: 1132px;
    --menu-size: 300px;

    /* Font size */
    --font-more-great : 143px;
    --font-great : 80px;
    --font-huge : 45px;
    --font-big : 35px;
    --font-large: 26px;
    --font-medium: 18px;
    --font-small: 12px;
    --font-more-small : 8px;
    --font-mirco: 2px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gugi', cursive;
    color: var(--black-color);
}

ul {
    list-style: none;
}
a{
  text-decoration:none
}
a:hover{
  text-decoration:none
}
button,
button:focus{
    background-color:transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/* header */
header {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    padding: var(--font-large);
    background-color: rgba(253,187,45,1);
    z-index: 10;
}
    
header .logo{
    font-size: var(--font-large);
}
header .logo .title{
    padding-left: var(--padding);
}

header .logout-box{
    display: flex;
    font-size: var(--font-medium);
}

header .logout-box .login{
    font-family: 'Gugi', cursive;
    font-size: var(--font-medium);
}

header .logout-box i{
    align-self: center;
    padding-left: var(--padding);
}

/* side-menu-bar */
.side-menu-bar{
    position: absolute;
    display: none;    
    flex-direction: column;
    width: var(--menu-size);
    padding: var(--font-huge);
    right: 0px;
    top:0px;
    height: 100%;
    background-color: var(--white-color);
    z-index: 10;
}
.side-menu-bar .close-button{
    display:flex;
    justify-content: flex-end;
    color: var(--black-light-color);
    font-size: var(--font-large);
    margin-bottom: var(--font-large);
}

.side-menu-bar .name{
    color : var(--gery-dark-color);
}

.side-menu-bar .name:hover{
    color : var(--black-color);
}

.side-menu-bar .emozi{
    padding-right: var(--font-more-small);
}

.side-menu-bar .home-menu-box .home-menu-list,
.side-menu-bar .my-menu-box .my-menu-list,
.side-menu-bar .public-menu-box .public-menu-box-list{
    
    border-bottom: 1px solid #E5E5E5;
}

.side-menu-bar .home-menu-box .home-menu-list li,
.side-menu-bar .my-menu-box .my-menu-list li,
.side-menu-bar .public-menu-box .public-menu-box-list li,
.side-menu-bar .logout-menu-box .logout-menu-box-list li{
    font-size: var(--font-medium);
    padding: var(--font-medium);
}