:root{
    /* Color */
    --white-color : #f8f8f8;
    --white-bg-color: #FEFEFE;
    --orange-color : #F6BB43;
    --black-color : #181816;
    --black-light-color : #42423b;
    --gery-color : #C0C0C0;
    --gery-dark-color : #696969;
    --red-color : #9CB348;

    /* #A88B5B */
    /* #C3FCF2 */
    /* #B5AA99 */
    /* #9CB348 */
    /* #4D9F64 */
    /* #008476 */
    /* #0A6673 */

    /* size */
    --padding: 12px;
    --margin: 200px;
    --max-size: 1132px;
    --menu-size: 300px;

    /* Font size */
    --font-more-great : 143px;
    --font-great : 80px;
    --font-huge : 45px;
    --font-big : 35px;
    --font-large: 26px;
    --font-medium: 18px;
    --font-small: 12px;
    --font-more-small : 8px;
    --font-mirco: 2px;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gugi', cursive;
    color: var(--black-color);
}

ul {
    list-style: none;
}

button,
button:focus{
    background-color:transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

main {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 55%);
    padding-bottom: var(--font-more-great);
}

/* header */
header {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    padding: var(--font-large);
    background-color: rgba(253,187,45,1);
    z-index: 10;
}
    
header .logo{
    font-size: var(--font-large);
}
header .logo .title{
    padding-left: var(--padding);
}

header .logout-box{
    display: flex;
    font-size: var(--font-medium);
}

header .logout-box .login{
    font-family: 'Gugi', cursive;
    font-size: var(--font-medium);
}

header .logout-box i{
    align-self: center;
    padding-left: var(--padding);
}

/* side-menu-bar */
.side-menu-bar{
    position: absolute;
    display: none;    
    flex-direction: column;
    width: var(--menu-size);
    padding: var(--font-huge);
    right: 0px;
    top:0px;
    height: 100%;
    background-color: var(--white-color);
    z-index: 10;
}
.side-menu-bar .close-button{
    display:flex;
    justify-content: flex-end;
    color: var(--black-light-color);
    font-size: var(--font-large);
    margin-bottom: var(--font-large);
}

.side-menu-bar .name{
    color : var(--gery-dark-color);
}

.side-menu-bar .name:hover{
    color : var(--black-color);
}

.side-menu-bar .emozi{
    padding-right: var(--font-more-small);
}

.side-menu-bar .home-menu-box .home-menu-list,
.side-menu-bar .my-menu-box .my-menu-list,
.side-menu-bar .public-menu-box .public-menu-box-list{
    
    border-bottom: 1px solid #E5E5E5;
}

.side-menu-bar .home-menu-box .home-menu-list li,
.side-menu-bar .my-menu-box .my-menu-list li,
.side-menu-bar .public-menu-box .public-menu-box-list li,
.side-menu-bar .logout-menu-box .logout-menu-box-list li{
    font-size: var(--font-medium);
    padding: var(--font-medium);
}

.theme-slide {
    display: flex;
    justify-content: space-between;
    max-width: 1000vw;
    margin: var(--font-great) auto;
}


.theme-slide button {
    font-size: var(--font-huge);
    color: var(--black-light-color);
    padding: 0 var(--font-more-small);
}

.theme-slide .slide-theme-content-item{
    display: none;
    flex-direction: column;
    transition: all 0.5s ease-out;
}
.active{
    display: flex !important;
}

.theme-slide .slide-theme-content-item .icon{
    display:flex;
    justify-content: center;
    font-size: var(--font-big);
}

.theme-slide .slide-theme-content-item .theme-title{
    display: flex;
    flex-direction: column;
    font-size: var(--font-huge);
    padding: var(--padding) 0;
}

.theme-slide .slide-theme-content-item .curators{
    display:flex;
    justify-content: center;
    font-size: var(--font-medium);
    color: var(--black-light-color);
}

.search-container{
    display: flex;
    justify-content: center;
    max-width: var(--max-size);
    margin: 0 auto var(--font-great) auto;
    padding : var(--font-large);
}

.search-container #search-bar{
    width: 100%;
    min-height: 50px;
    margin:0 auto;
    padding: var(--font-medium);

    font-family: 'Gugi', cursive;
    font-size: var(--font-large);
    line-height: 18px;

    color: var(--black-color);
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-color: transparent;
}
.search-container #search-bar:hover,
.search-container #search-bar:focus{
    padding: 0 var(--font-large);
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.search-container #search-bar::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-container .search-icon{
    position: relative;
    font-size: var(--font-large);
    right : 70px;
}

.dash-board,
.hot-place{
    display: flex;
    flex-direction: column;
    max-width: var(--max-size);
    margin: 0 auto;
    padding: 0 var(--font-large);
}
.hot-place .hot-place-list{
    height: 150px;
    overflow: hidden;
}

.dash-board .hot-curators,
.dash-board .hot-theme{
    margin: var(--font-large) 0;
    overflow: hidden;
}

.dash-board .hot-curators .title,
.dash-board .hot-theme .title,
.hot-place .title {
    margin-bottom: var(--font-medium);
}

.dash-board .hot-curators .title span,
.dash-board .hot-theme .title span,
.hot-place .title span{
    font-size: var(--font-large);
    margin: var(--font-mirco);
} 

.dash-board .hot-curators .title .sub,
.dash-board .hot-theme .title .sub,
.hot-place .title .sub{
    font-size: var(--font-medium);
    color: var(--black-light-color);
    margin: var(--font-mirco) ;
} 

.dash-board .hot-curators .hot-curators-list,
.dash-board .hot-theme .hot-theme-list,
.hot-place .hot-place-list{
    display:flex;
    margin: var(--font-mirco);
}
.dash-board .hot-curators .hot-curators-list li,
.dash-board .hot-theme .hot-theme-list li,
.hot-place .hot-place-list li{
    padding-right: var(--font-medium);
}

.dash-board .hot-curators .hot-curators-list .content:hover,
.dash-board .hot-theme .hot-theme-list .content:hover,
.hot-place .hot-place-list li .content:hover{
    background-color: var(--red-color);
    cursor: pointer;
}

.dash-board .hot-curators .hot-curators-list li .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-bg-color);
    border-radius: 12px;
    padding: var(--font-medium);
    box-shadow: 2px 2px;
    height: 152px;
}
.dash-board .hot-curators .hot-curators-list li .content:hover{
    cursor: pointer;
}

.dash-board .hot-curators .hot-curators-list li .content div{
    padding : var(--font-mirco);
}

.dash-board .hot-curators .hot-curators-list li .content .icon{
    font-size: var(--font-huge);
    margin: var(--font-small);
}

.dash-board .hot-curators .hot-curators-list li .content .theme-title{
    font-size: var(--font-medium);
}
.dash-board .hot-curators .hot-curators-list li .content .theme-count{ 
    font-size: var(--font-small);
    color: var(--black-light-color); 
}

/* hot-theme-list */
.dash-board .hot-theme .hot-theme-list li .content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    background-color: var(--white-bg-color);
    border-radius: 12px;
    padding: var(--font-medium);
    box-shadow: 2px 2px;
    min-height: 100px;
}

.dash-board .hot-theme .hot-theme-list li .content .icon{
    font-size: var(--font-huge);
    flex-grow: 1;
}

.dash-board .hot-theme .hot-theme-list li .content .theme-content{
    flex-grow: 4;
}

.dash-board .hot-theme .hot-theme-list li .content .theme-content:hover{
    cursor: pointer;
}

.dash-board .hot-theme .hot-theme-list li .content .theme-content .theme-title{
    font-size: var(--font-medium);
    padding: var(--font-mirco);
}
.dash-board .hot-theme .hot-theme-list li .content .theme-content .curators{
    font-size: var(--font-small);
    color: var(--black-light-color);
}

.hot-place .hot-place-list li .content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    background-color: var(--white-bg-color);
    border-radius: 12px;
    padding: var(--font-medium);
    box-shadow: 2px 2px;
    min-height: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: var(--font-great) auto;
}

footer .footer-link,
footer a {
    padding: var(--font-medium);
}

.custom-shape-divider-bottom-1636286082 {
    position: absolute;
    bottom: -804px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1636286082 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1636286082 .shape-fill {
    fill: #FFFFFF;
}
.appear {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    display: flex;
}

.disappear {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes fade-out {
from {
    opacity: 1;

}
to {
    opacity: 0;
}
}