<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
  
  <resultMap type="User" id="UserMap">
    <id column="user_no" property="no"/> 
    <result column="nickname" property="nickname"/>
    <result column="email" property="email"/>
    <result column="password" property="password"/>
    <result column="created_dt" property="registeredDate"/>
  </resultMap>
  
  <select id="findAll" resultMap="UserMap">
		select 
			user_no, 
			email, 
			nickname, 
			created_dt 
		from 
			jeju_user
  </select>
 
 	<select id="selectOneByEmailPassword" resultMap="UserMap" parameterType="map">
	 	select 
			user_no, 
			email, 
			nickname 
		from 
			jeju_user 
		where 
			email=#{email} and password=password(#{password})
 	</select>
 	
	<insert id="insert" parameterType="user">
		Insert into jeju_user(email,password,nickname) 
		values(#{email},password(#{password}),#{nickname})
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from jeju_user 
    where user_no=#{value}
  </delete>

  <delete id="userLikedUserAllDelete" parameterType="int">
		delete from 
			jeju_liked_user 
		where 
			user_no=#{loginUserNo}
	</delete>
  
  <update id="update" parameterType="user">
		update 
			jeju_user 
		set 
			email=#{email}, 
			password=password(#{password}), 
			nickname=#{nickname} 
		where 
			user_no=#{no}
  </update>
  
  <select id="findByName" resultMap="UserMap" parameterType="String">
  select 
		user_no, 
		email, 
		nickname, 
		created_dt 
	from 
		jeju_user 
	where 
		nickname=#{nickname}
  </select>
  
  <select id="userLikedUserInsert" parameterType="map">
  	Insert into jeju_liked_user(user_no,user_no2) 
  	values(#{loginUserNo},#{likedUserNo})
  </select>
  
	<delete id="userLikedUserDelete" parameterType="map">
		delete from 
			jeju_liked_user 
		where 
			user_no=#{loginUserNo} and 
			user_no2=#{likedUserNo}
	</delete>
	
  <select id="likedUserFindAll" resultMap="UserMap" parameterType="int">
	  select
			ju.user_no,
			email,
			nickname,
			created_dt
		from
			jeju_user ju
		join
			(select jlu.user_no2 from jeju_liked_user jlu where user_no=#{no}) lu
		on lu.user_no2 = ju.user_no
  </select>
</mapper>







